# .env is for local testing only, prod env vars are configured in fly
# DISCORD_TOKEN="XXXXXXXXXXXXXXXXXXXX"
# SHEETS_CLIENT_EMAIL="syuvi-bot@syuvi-XXXXXX.iam.gserviceaccount.com"
# SHEETS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-----END PRIVATE KEY-----\n"
# SHEETS_SPREADSHEET_ID="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
